<div class="container">
  <header class="jumbotron subhead" class="overview">
    <h1>Pick a color, any color.</h1>
    <h3>Colors selected from Crayola's Silly Scents collection. Because whoever came up with these names is an awesome individual.</h3>
  </header>
  
  <div class="row">
    <div class="span4">
      <ul class="color_list">
        <li><a href="#" id="#84DE02">Alien Armpit</a></li>
        <li><a href="#" id="#FFDF46">Gargoyle Gas	</a></li>
        <li><a href="#" id="#FD5240">Ogre Odor	 </a></li>
        <li><a href="#" id="#4BC7CF">Sea Serpent</a></li>
        <li><a href="#" id="#E88E58">Big Foot Feet	 </a></li>
        <li><a href="#" id="#B05C52">Giant's Club	</a></li>
        <li><a href="#" id="#391285">Pixie Powder	</a></li>
        <li><a href="#" id="#FF6D3A">Smashed Pumpkin	</a></li>
      </ul>
    </div>
    <div class="span4">
      <ul class="color_list">
        <li><a href="#" id="#DDE26A">Booger Buster	</a></li>
        <li><a href="#" id="#F46">Magic Potion	 </a></li>
        <li><a href="#" id="#FF85CF">Princess Perfume	</a></li>
        <li><a href="#" id="#FF404C">Sunburnt Cyclops</a></li>
        <li><a href="#" id="#C53151">Dingy Dungeon	</a></li>
        <li><a href="#" id="#828E84">Mummy's Tomb	 </a></li>
        <li><a href="#" id="#FF4681">Sasquatch Socks	</a></li>
        <li><a href="#" id="#A0E6FF">Winter Wizard	 </a></li>   
      </ul>
    </div>
    <div class="span4" id="color_box">
    </div>
  </div>
</div>


<script>
  $(document).ready(function() {
    selectColor();
  })
</script>


